 <mat-card style=" margin:0px 0;">
           <h2> BASIC INFORMATION (TBD)</h2>
       <div class="row">
           <div class="col-12 col-md-4">
              <div class="txt-bold"><span>DOB</span></div>
              <div class="txt-bold"><span>GENDER</span></div>
              <div class="txt-bold"><span>EMAILS</span></div>
              <div class="txt-bold"><span>ADDRESS</span></div>
              <div class="txt-bold"><span>GROUP</span></div>
           </div>
           <div class="col-12 col-md-4">
              <div class="txt-bold"><span>HOME PHONE</span></div>
              <div class="txt-bold"><span>CELL PHONE</span></div>
              <div class="txt-bold"><span>OCCUPATION</span></div>
              <div class="txt-bold"><span>LANGUAGE</span></div>
              <div class="txt-bold"><span>COUNTRY OF </span></div>
              
           </div>
           <div class="col-12 col-md-4">
              <div class="txt-bold"><span>NATIONALITY</span></div>
              <div class="txt-bold"><span>PASSPORT</span></div>
              <div class="txt-bold"><span>RISK SCORE</span></div>
              <div class="txt-bold"><span>ORIGIN</span></div>
              
           </div>
       </div>
       <div class="col-12 col-md-12 sub-headding">         
           <button class="app-btn mat-button orange-button2 pull-right"> Add Account + </button>
            <span> <h3> SOCIAL MEDIA ACCOUNTS </h3></span>
       </div>
          <mat-tab-group mat-align-tabs="center">
         <mat-tab>
                <ng-template mat-tab-label>               
                        TWITTER
                </ng-template>
               <p> Content 1 </p>
        </mat-tab>
         <mat-tab>
                <ng-template mat-tab-label>               
                      YOUTUBE
                </ng-template>
                <p> Content 2 </p>
        </mat-tab>
        <mat-tab>
                <ng-template mat-tab-label>               
                      TUMBLR
                </ng-template>
                <p> Content 3 </p>
        </mat-tab>
          <mat-tab>
                <ng-template mat-tab-label>               
                      GOOGLE PLUS
                </ng-template>
                <p> Content 4 </p>
        </mat-tab>
         
        </mat-tab-group>
</mat-card>

       
