.widget-card {
    min-height: 325px;
    box-shadow: 0 3px 1px -4px rgba(0, 0, 0, 0.1),
     0 2px 2px 0 rgba(0, 0, 0, 0.1),
      0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
      background: #fff;
      padding: 15px;
      border-radius: 5px;
      margin-top: 15px;
      .widget-card-inner{ 
        .widget-heading {
        font-size: 1.6rem;
        line-height: normal;
        color: #40505b;
     }
     .download-icon{
        color: #3e505a;
        float: right;
        margin: 5px;
        cursor: pointer;
        font-size: 15px;
    }
}

}
.chart-info .full-width-input-wrap{
    width: 100px;
    margin-right: 10px;
    border-right: 1px solid #A4A4A4;
    padding-right: 10px;
}