.component-wrap {
    .heading-wrap {
        position: relative;
        margin-bottom: 15px;
    }

    .popup-heading {
        @include applyFont($fontSize: 20px, $fontWeight: 600);
        color: #40505b;
            font-family: "source-sans-pro-Regular";            
            text-align: center;            
            line-height: normal;           
    }

    .popup-close {
        color: #7F7F7F;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .form-wrap {
        .cols {
            padding-left: 0px;
            padding-right: 0px;
        }

        .col-second {
            padding-left: 15px;
        }
    }

    .action-wrap {
        margin-top: 14px;

        .save-btn {
            margin-left: 10px;
        }
    }    
}