@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.heading {    	
    color: #40505B;
    @include applyFont($fontFamily: 'source-sans-pro-Regular', $fontSize: 2.0rem, $fontWeight: 600);
    
    text-align: left;

    @media (max-width:812px){
        margin-left: 15px;
    }
}

.breadcrumbs {
    @include applyFont($fontFamily: 'source-sans-pro-Regular', $fontSize: 1.3rem)
   
}

