    <mat-card style=" margin:0px 0;">
        <h2>POI ACTIVITY ANALYSIS</h2>
        <mat-tab-group mat-align-tabs="center">
         <mat-tab>
                <ng-template mat-tab-label>               
                        Top Hashtags
                </ng-template>
               <p> Content 1 </p>
        </mat-tab>
         <mat-tab>
                <ng-template mat-tab-label>               
                        Top User Mentions 
                </ng-template>
                <p> Content 2 </p>
        </mat-tab>
        <mat-tab>
                <ng-template mat-tab-label>               
                        Top Media
                </ng-template>
                <p> Content 3 </p>
        </mat-tab>
          <mat-tab>
                <ng-template mat-tab-label>               
                       Top URLs
                </ng-template>
                <p> Content 4 </p>
        </mat-tab>
          <mat-tab>
                <ng-template mat-tab-label>               
                      Top Languages
                </ng-template>
                <p> Content 5 </p>
        </mat-tab>
        </mat-tab-group>
        <div class="row">
              <div class="col-12 col-md-6">
                 <div class="col-12 col-md-12 sub-headding">
                     <h3>SOCIAL MEDIA RISK SCORE</h3>                     
                </div>
                     <p>
                            Info Here 
                    </p>
              </div>
              <div class="col-12 col-md-6">
                 <div class="col-12 col-md-12 sub-headding">
                    <h3>TOP 10 POSTS</h3>                    
                 </div>
                     <p>
                            Info Here 
                    </p>
              </div>
        </div>
  </mat-card>

