h2{
   margin: 10px 0px;
}

p{
        font-size:14px !important;
        height:200px;
        border-bottom:2px solid red;
 }
.sub-headding{
    background:#ececec;
    padding:3px;
    h3{
        margin-top:5px;
    }
}