
<div class="page-wrap">
    <div class="login-page-bg">
        <img src="assets/img/login-side-icon.png" class="login-page-bg_pic" title="logo" alt="logo">
    </div>
    <div class="login row">
        <div class="col-sm-12 col-md-12 col-12 col-lg-12" style="height: 100%;" >
        <div class="wrapper-lg forgot-password-wrap">
            <div class="text-center"><img src="assets\img\forgot-bg.png"  title="logo" alt="logo"></div>
            <div class="login-info"> 
                <p class="martop20">Please enter your login name to get a new password on your register email Id</p>
            </div>
            <form #loginForm="ngForm" novalidate>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-12 col-lg-12"> 
                        <div class="home-input">
                            <input  class="login-input" type="text" placeholder="Login Name"  
                                name="loginName"
                                autocomplete="off" required maxlength="50"/>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-12 col-lg-12"> 
                        <div class="action-wrap">
                                <button type="button" md-button class="app-btn mat-button blue-button " (click)="validateSecurityQuestions(resetpasswordform)">Submit</button>
                                <button type="button" md-button class="app-btn mat-button blue-button" (click)="gotoLogin()">Back To Login</button>
                        </div>
                    </div>       
                </div>                 
            </form>
        </div>
        <div class="copyright-row">
            <div class="col-sm-12 col-md-12 col-12 col-lg-12 text-center padding30">
                <p><small>Copyright © 2018, Front Office Automation.<br> All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>